.contact-container {
    background-image: url("../asswsts/india.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0; 
    margin-bottom: -40px;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0); 
    padding: 30px;
    border-radius: 10px;
}